<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>Panel UI</title>
</head>
<body>
<div layout:fragment="content">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="panel:${panels}">
            <td th:text="${panel.id}">1</td>
            <td th:text="${panel.name}">Foo Panel</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>