<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Panel UI</title>
</head>
<body>
<div layout:fragment="content">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Foo Panel</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Bar Panel</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Baz Panel</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>