<!doctype html>
<html lang="en"
      class="layout-default"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Panel UI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg mb-3 navbar-dark bg-dark">
    <a class="navbar-brand" href="#" th:text="#{title}">Panel UI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:with="active = ${#request.requestURI} == '/'" th:classappend="${active}? 'active'">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item" th:with="active = ${#strings.startsWith(#request.requestURI, '/panels')}" th:classappend="${active}? 'active'">
                <a class="nav-link" href="panel/list.html" th:href="@{/panels}">Panels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Invites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Reporting</a>
            </li>
        </ul>
        <form class="form-inline">
            <div class="input-group mr-3">
                <select name="language" class="form-control" th:with="selected=${#strings.toString(param.language)}">
                    <option value=""></option>
                    <option value="en" th:text="#{lang.en}" th:selected="${selected} == 'en'">English</option>
                    <option value="de" th:text="#{lang.de}" th:selected="${selected} == 'de'">German</option>
                </select>
                <button class="btn btn-secondary input-group-append" type="submit" th:text="#{action.submit}">Submit</button>
            </div>
        </form>
    </div>
</nav>

<main class="container-fluid">
    <div class="row">
        <aside class="col-md-3" layout:fragment="sidebar-left">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-user text-primary"></i> <span sec:authentication="name">Name</span>
                        <br>
                        <small class="text-muted"><span sec:authentication="authorities">[ROLE_USER, ROLE_ADMIN]</span></small>
                    </p>
                    <p class="card-text" sec:authorize="isAuthenticated()">
                        <i class="fas fa-check text-success"></i> Authenticated
                    </p>
                    <p class="card-text" sec:authorize="hasRole('USER')">
                        <i class="fas fa-check text-success"></i> Regular User
                    </p>
                    <p class="card-text" sec:authorize="hasRole('ADMIN')">
                        <i class="fas fa-check text-success"></i> Administrator
                    </p>
                </div>
            </div>
        </aside>
        <div class="col-md-6" layout:fragment="content">
            Main page content goes here.
        </div>
        <aside class="col-md-3" layout:fragment="sidebar-right">
            Right sidebar content goes here.
        </aside>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<th:block layout:fragment="scripts"></th:block>
</body>
</html>